@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --planthood-green: #0A846E;
    --planthood-dark-green: #055647;

    --planthood-brown: #9E6D52;
    font-family: Maven Pro;
}



a{
    text-decoration: none;
}

body{
    padding: 0;
    margin: 0;
}

/* Mobile first CSS */
header{
    width: 100%;
    box-shadow: 0 3px 10px -5px rgba(0,0,0,0.25);
    .hero{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        
        aside{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 60%;
            }
        }

        aside:nth-child(1){
            grid-column: span 2;
            grid-row: span 2;
            background-size: cover;
            background-position: center;
            background-image: url("./assets/img/plant-in-hand.jpg");
        }

        aside:nth-child(2){
            background-color: var(--planthood-brown);
            grid-column: 1;
            grid-row: 3;
        }

        aside:nth-child(3){
            background-color: var(--planthood-green);
            grid-column: 2;
            grid-row: 3;
        }

    }

    .menu-burger{
        font-size: 20vw;
        line-height: 15vw;
        position: absolute;
        right: 0.5rem;
        top: 0rem;
        color: white;
        text-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    }

    nav{
        /* No menu-burger for now */
        display: none;
    }

}

main{
    section.tips{
        h1{
            font-weight: 500;
            text-align: center;
            color: var(--planthood-green)
        }

        section{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            aside.tips-hero{
                margin: auto;
                background-color: var(--planthood-green);
                padding: 5rem;
                border-radius: 50%;
                width: fit-content;

                img{
                    width: 30vw;
                }
            }

            article{
                padding: 1.5rem;
                font-family: "Open Sans";
                text-align: center;

                h2{
                    font-size: 1rem;
                }

                p{
                    font-size: 0.875rem;
                }

                aside.plant-advice-button{
                    width: fit-content;
                    height: fit-content;
                    margin: 2rem auto auto auto;
                    color: white;
                    padding: 0.5rem 1rem 0.5rem 1rem;
                    border-radius: 0.5rem;
                    font-weight: bold;
                    box-shadow: 0px 2px 15px -5px rgba(0,0,0,0.5);
    
                    background-color: var(--planthood-green);
                }
            }
        }

        aside.tips-separator{
            width: 60%;
            margin: 3rem auto 3rem auto;
            background-color: var(--planthood-green);
            height: 3px;
        }
    }
}

footer{
    width: 100%;
    height: 100vh;
    color: white;

    section.contact-us{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        background-image: url("./assets/img/hand-on-plants.avif");
        background-size: cover;

        section.contact-info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            grid-row: 2;
            height: 47vh;
            background: rgba(0, 0, 0, 0.75);

            h1{
                margin: auto;
                font-size: 3.5rem;
                font-weight: normal;

            }
            div{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;
                
                img{
                    line-height: 2rem;
                    width: 1.5rem;
                }

                > section{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    > *{
                        display: inline;
                        margin: auto;
                        padding: 0.25rem;
                    }
                }
            }
        }

       > img{
            box-sizing: border-box;
            width: 100%;
            padding: 5rem;
            height: 47vh;
        }

       

    }

    a{
        margin: auto;
        width: fit-content;
    }

    > p {
        display: flex;
        justify-content: space-around;
    }
}

/* Desktop adjustments */
.wrapper{
    max-width: 1000px;
    margin: auto;
    box-shadow: 0px 1px 10px -5px rgba(0,0,0,0.5);
}

@media (width >= 1000px){
    header{
        .menu-burger{
            display: none;
        }

        nav{
            display: flex;
            justify-content: space-around;
            padding: 1rem;

            a{
                font-size: 1.25rem;
                font-weight: 500;
                color: var(--planthood-dark-green);
            }
        }
    }
}
