
/* Mobile first */

header{
    section.hero{
        display: flex;    
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        background-image: url("./assets/img/hand-on-plants.avif");
        background-position: 0;
        background-size: cover;
        width: 100%;
        aspect-ratio: 1 / 1;

        > img{
            width: initial;
        }
        
        > h1{
            margin: 0;
            color: white;
            font-weight: 400;
            font-size: 2.5rem;
        }
        
    }
}

main{
    section.create-plantation-form{
        > h2{
            font-weight: 400;
        }
        > form {
            button{
                /* Remove some of the default button-styling */
                border: none;
                cursor: pointer;
                outline: inherit;
            }
        }
    }
}

footer {
    height: inherit;
    .footer-gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 0.5rem;
        padding: 1rem;
        background-color: #9E6D52;
        height: 7rem;
        box-sizing: content-box;
        
        aside{
            width: 100%;
            height: 100%;
            opacity: 0.75;
            background-size: cover;
            background-position: center;
        }

        aside:nth-child(1){
            background-image: url("./assets/img/footer-bg-1.avif");
        }
        aside:nth-child(2){
            background-image: url("./assets/img/footer-bg-2.avif");
        }
        aside:nth-child(3){
            background-image: url("./assets/img/footer-bg-3.avif");
        }
        aside:nth-child(4){
            background-image: url("./assets/img/footer-bg-4.avif");
        }
    }

    p{
        margin: 0;
        padding: 1rem;
    }
}